{{#if right}}
<nav class="site-nav ml-auto mr-0">
{{else}}
<nav class="site-nav ml-auto mr-auto">
{{/if}}
    <div class="">
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
</nav>
