
/* SCSS HEX */
$steel-gray: #181821;
$hawkes-blue: #d8e2fc;
$port-gore: #2c2454;
$martinique: #343454;
$dove-gray: #6c6c6c;
$tall-poppy: #ac2834;
$mine-shaft: #343434;
$eminence: #68347c;
$chambray: #34507c;

$text: $hawkes-blue;
$background: #2b303b;
$selection-text-and-header-background: #1c212b;
$selection-background-and-link-hover: $chambray;
$heading: $hawkes-blue;

$border: $port-gore;